.card {
  list-style: none;
  margin: 1rem;
  border-style: solid;
  text-align: center;
  border-color: blanchedalmond;
  background-color: brown;
  
}

.card img {
  max-width:10%;
  object-fit:contain;  
}

.header {  
  text-align: center
}
